.stage{
  width: 50%;
  background-color: #a3f0fc;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.info-container{
  display: flex;
  justify-content: center;

}

.info{
  width: 170px;
  background-color: #dafaff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 25px;
  padding: 5px;
  text-align: center;
}

.error{
text-align: center;
color: red;
}
